<footer class="footer">
    <div class="container">
        <div class="footer-top row">
            <div class="footer-top-item col-lg-4 col-md-6 col-sm-12">
                <div class="footer-logo-box">
                    <img class="footer-logo-img" src="https://technext.github.io/ogani/img/logo.png" alt="">
                </div>
                <div class="footer-top-contact">
                    <p class="footer-top-info-contact">Address: 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</p>
                    <p class="footer-top-info-contact">Phone: +65 11.188.888</p>
                    <p class="footer-top-info-contact">Email: hello@colorlib.com</p>
                </div>
            </div>
            <div class="footer-top-item col-lg-4 col-md-6 col-sm-12">
                <h3 class="footer-top-title">Useful Links</h3>
                <div class="footer-top-list-link-component">
                    <div class="footer-top-link-component">
                        <ul class="footer-top-list-link">
                            <li class="footer-top-link-item">
                                <a href="">About us</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">About Our Shop</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">Secure Shopping</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">Delivery information</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">Privacy Policy</a>
                            </li>

                            <li class="footer-top-link-item">
                                <a href="">Our Sitemap</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-top-link-component">
                        <ul class="footer-top-list-link">
                            <li class="footer-top-link-item">
                                <a href="">About us</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">About Our Shop</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">Secure Shopping</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">Delivery information</a>
                            </li>
                            <li class="footer-top-link-item">
                                <a href="">Privacy Policy</a>
                            </li>

                            <li class="footer-top-link-item">
                                <a href="">Our Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-top-item col-lg-4 col-md-6 col-sm-12">
                <h2 class="footer-top-title">Join Our Newsletter Now</h2>
                <p class="footer-top-text">Get E-mail updates about our latest shop and special offers.</p>
                <div class="footer-top-form">
                    <input type="text" class="footer-top-input" placeholder="Enter your email"/>
                    <button class="footer-top-btn">SUBSCRIBE</button>
                </div>
                <div class="footer-top-social">
                    <ul class="footer-top-social-list">
                        <li class="footer-top-social-item">
                            <a class="footer-top-social-item-link" href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer-top-social-item">
                            <a class = "footer-top-social-item-link" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer-top-social-item">
                            <a class = "footer-top-social-item-link" href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="footer-top-social-item">
                            <a class = "footer-top-social-item-link" href="">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-item">
                <p class="footer-bottom-copyright">Copyright ©2022 All rights reserved | This template is made with love by Colorlib</p>

            </div>

            <div class="footer-bottom-item">
                <div class="footer-bottom-payment">
                    <img src="https://technext.github.io/ogani/img/payment-item.png" alt="">
                </div>
            </div>
        </div>
    </div>

</footer>