<header>
  <div>
    <div>
      <a href="/"><img src="https://technext.github.io/karma/img/logo.png" alt="" /></a>
    </div>
    <div>
      <ul>
        <li><a href="/products">Products</a></li>
      </ul>
    </div>
  </div>
</header>