<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top-list">
        <div class="header-top-item">
          <div class="header-top-left">
            <p class="header-top-left-info">
              <i class="fa-solid fa-envelope"></i>
              hello@colorlib.com
            </p>
            <p class="header-top-left-info">Free Shipping for all Order of $99</p>
          </div>
        </div>
        <div class="header-top-item">
          <div class="header-top-right">
            <div class="header-top-social-wrapper">
              <ul class="header-top-social-box">
                <li class="header-top-social-item">
                  <a class="header-top-social-item-link" href="">
                    <i class="header-top-social-icon fa-brands fa-facebook-f"></i>
                  </a>
                </li>
                <li class="header-top-social-item">
                  <a class="header-top-social-item-link" href="">
                    <i class="header-top-social-icon fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li class="header-top-social-item">
                  <a class="header-top-social-item-link" href="">
                    <i class="header-top-social-icon fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="header-top-social-item">
                  <a class="header-top-social-item-link" href="">
                    <i class="header-top-social-icon fa-brands fa-pinterest-p"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="header-top-auth">
              <div class="header-top-auth-icon-box"><i class="fa-solid fa-user"></i></div>
              <a class="header-top-auth-link" href="">login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container header-bottom">
    <div class="row">
      <div class="col-lg-3 header-logo-box">
        <div class="header-logo">
          <img class="header-img" src="https://technext.github.io/ogani/img/logo.png" alt="">
        </div>

        <div class="header-menu-icon">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="col-lg-6 header-menu-container">
        <div class="header-menu">
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a class="header-menu-item-link" href="">HOME</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link"   href="">SHOP</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link"  href="">ABOUT</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link" href="">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 header-cart-box">
        <div class="header-cart">
          <div class="header-cart-icon-box">
            <a class="header-card-icon-link" href=""><i class="header-cart-icon fa-solid fa-heart"></i></a>
            <span class="header-cart-quantity">1</span>
          </div>
          <div class="header-cart-icon-box">
            <a class="header-card-icon-link" href=""><i class="header-cart-icon fa-solid fa-cart-shopping"></i></a>
            <span class="header-cart-quantity">3</span>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom-mobile">
      <div class="close-icon">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <ul class="header-bottom-mobile-list">
            <li class="header-bottom-mobile-item">
              <a class="header-bottom-mobile-item-link" href="">HOME</a>
            </li>
            <li class="header-bottom-mobile-item">
              <a class="header-bottom-mobile-item-link"   href="">SHOP</a>
            </li>
            <li class="header-bottom-mobile-item">
              <a class="header-bottom-mobile-item-link"  href="">ABOUT</a>
            </li>
            <li class="header-bottom-mobile-item">
              <a class="header-bottom-mobile-item-link" href="">CONTACT</a>
            </li>
          </ul>
    </div>
  </div>
</header>