<section class="container hero-home">
  <div class="hero-home-wrapper row">
    <div class="dropdown hero-home-dropdown col-lg-3 col-md-12">
      <button
        class="btn btn-secondary dropdown-toggle hero-home-btn-dropdown"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="true"
      >
        <i class="fa-solid fa-bars"></i>
        All departments
      </button>
      <ul class="dropdown-menu hero-home-dropdown-menu">
        <li><a class="dropdown-item" href="#">Fresh Meat</a></li>
        <li><a class="dropdown-item" href="#">Vegetables</a></li>
        <li><a class="dropdown-item" href="#">Fruit & Nut Gifts</a></li>
        <li><a class="dropdown-item" href="#">Fresh Berries</a></li>
        <li><a class="dropdown-item" href="#">Ocean Foods</a></li>
        <li><a class="dropdown-item" href="#">Fastfood</a></li>
        <li><a class="dropdown-item" href="#">Fresh Onion</a></li>
        <li><a class="dropdown-item" href="#">Papayaya & Crisps</a></li>
        <li><a class="dropdown-item" href="#">Oatmeal</a></li>
        <li><a class="dropdown-item" href="#">Fresh Bananas</a></li>
      </ul>
    </div>
    <div class="hero-home-search-image-box col-lg-9 col-md-12">
      <div class="hero-home-search-box">
        <div class="hero-home-search-wrapper">
            <div class="hero-home-search-form">
              <div class="dropdown hero-home-search-dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle hero-home-search-dropdown-btn"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  All Categories
                </button>
                <ul class="dropdown-menu hero-home-search-menu">
                  <li><a
                      class="dropdown-item hero-home-search-item"
                      href="#"
                    >Action</a></li>
                  <li><a
                      class="dropdown-item hero-home-search-item"
                      href="#"
                    >Another action</a></li>
                  <li><a
                      class="dropdown-item hero-home-search-item"
                      href="#"
                    >Something else here</a></li>
                </ul>
              </div>
              <input
                class="hero-home-search-dropdown-input"
                type="text"
                name=""
                id=""
                placeholder="What do you need"
              />
            </div>
            <button class="hero-home-search-btn">SEARCH</button>
        </div>
        <div class="hero-home-support">
            <div class="hero-home-support-icon">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="hero-home-support-info">
                <h3 class="hero-home-support-title">+65 11.188.888</h3>
                <p class="hero-home-support-text">support 24/7 time</p>
            </div>
        </div>
      </div>
      <div class="hero-home-image-box">
        <div class="hero-home-image-info-box">
            <h3 class="hero-home-image-small-title">FRUIT FRESH</h3>
            <h1 class="hero-home-image-big-title">Vegetables 100% Organic</h1>
            <p class="hero-home-image-text">Free Pickup and Delivery Available</p>
            <a class="hero-home-image-btn" href="">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>