<div class="left-content">
    <div class="m-6">
        <h4>Filter: </h4>
        <form>  
            <input type="text" name="filter" id="filter" style="height: 35px; width: 40%; padding-left: 10px;" placeholder="Plase enter something..."/>
            <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </form>
        <h4 class="mt-4">Sort: </h4>
        <div class="row">
            <div class="col-sm-6 mb-5">
                <span>Name: </span> 
                <button class="btn btn-sm btn-outline-success" type="button">
                    <a href="?sort=name-asc">Ascending</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-warning">
                    <a href="?sort=name-desc">Descending</a>
                </button>
            </div>
            <div class="col-sm-6">    
                <span>Email: </span>
                <button class="btn btn-sm btn-outline-danger" type="button">
                    <a href="?sort=email-asc">Ascending</a>
                </button>
                <button class="btn btn-sm btn-outline-info" type="button">
                    <a href="?sort=email-desc">Descending</a>
                </button>
            </div>
        </div>
    </div>
    <section class="intro">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead>
                        <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each listAccounts}}
                            <tr>
                                <th scope="row">
                                </th>
                                <td>{{id}}</td>
                                <td>{{email}}</td>
                                <td>{{full_name}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                        Disable
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm px-3">
                                        Enable
                                    </button>
                                    <a href="/accounts/detail/{{id}}" class="btn btn-info btn-sm px-3" tabindex="-1" role="button" aria-disabled="true">Detail</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</div>
{{> sidebar}}