<div class="container add-product-form-container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row add-product-form-body">
              <div class="col-xl-6 col-lg-6 col-md-12">             
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Price
                    </label>
                    <input
                      id="price"
                      name="price"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Description</label
                    >
                    <textarea
                      class="form-control validate"
                      rows="3"
                      id="description"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category"
                    >
                      
                    </select>
                  </div>

                  <div class="form-group mb-3">
                    <label
                      for="manufacture"
                      >Manufacture</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="manufacture"
                    >
                      <option selected>Select manufacture</option>
                      <option value="Medicine">Medicine</option>
                      <option value="SwipeWire">SwipeWire</option>
                      <option value="SalePush">SalePush</option>
                      <option value="Dwellsmith">Dwellsmith</option>
                      <option value="Formonix">Formonix</option>
                      <option value="Branding">Branding</option>
                      <option value="Seekingon">Seekingon</option>
                      <option value="Crowdstage">Crowdstage</option>
                    </select>
                  </div>

                  <div class="row add-form-date-comp">
                      <div class="form-group add-form-date mb-3 col-xs-12 col-sm-6">
                          <label
                            for="create_at"
                            >Create At
                          </label>
                          <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control validate" id="create_at" name="create_at">
                        <span class="input-group-append">
                        </span>
                    </div>
                        </div>
                        <div class="form-group mb-3">
                          <label
                            for="status"
                            >Status</label
                          >
                          <select
                            class="custom-select tm-select-accounts"
                            id="status"
                          >
                            <option selected>Select status</option>
                            <option value="Còn hàng">Còn hàng</option>
                            <option value="Hết hàng">Hết hàng</option>
                          </select>
                  </div>
                  </div>
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <label class="d-flex justify-content-center">Choose Image of product</label>
                <div class="avatar-wrapper">
	                <img class="profile-pic" src="" />
	                <div class="upload-button">
		                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
	                </div>
	                <input class="file-upload" id="image-product" type="file"/>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase" onclick="handleAddProduct()">Add Product Now</button>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

    <script id="category-template" type="text/x-handlebars-template">
      \{{#if categories}}
          <option selected>Select category</option>
      
        \{{#each categories}}
          <option value="\{{this.name}}">\{{this.name}}</option>
        \{{/each}}
      \{{/if}}  
    </script>

    {{#extend "scripts"}}
      <script>
        function getCategories(){
          console.log('Ow ngoai nay')
          $.getJSON('http://localhost:8000/api/category/', (categories)=>{
            console.log('Vao day')
            console.log(categories)
            var source = $('#category-template').html()
            var template = Handlebars.compile(source)
            var html = template({categories})
            $('#category').html(html)
          })
        }

        getCategories()
        var isCorrect = true

        /*Verify*/
        //Date
        const dateFormat = /^\d{4}\-\d{2}\-\d{2}$/;
        document.getElementById("create_at").addEventListener("change",
        checkingForValidDate);
        function checkingForValidDate() {
            if(dateFormat.test(this.value) == false) {
              isCorrect = false
              alert("Date is not valid!")
            } else {
              isCorrect = true
            }
        }

        //Name
        document.getElementById("name").addEventListener("change", checkingForValidName);
        function checkingForValidName() {
          if($('#name').val().length < 1) {
            isCorrect = false
            alert("Product name is not valid!")
          } else {
            isCorrect = true
          }
        }
        //Price
        document.getElementById("price").addEventListener("change", checkingForValidPrice);
        function checkingForValidPrice() {
          if(parseInt($('#price').val()) < 0) {
            isCorrect = false
            alert("Price is not valid!")
          } else {
            isCorrect = true
          }
        }
        //Description
        document.getElementById("description").addEventListener("change", checkingForValidDescription);
        function checkingForValidDescription() {
          if($('#description').val().length < 1) {
            isCorrect = false
            alert("Description is not valid!")
          } else {
            isCorrect = true
          }
        }

        console.log("Image: " + $('#image-product')[0].files[0])

        function handleAddProduct() {
          if(!($('#image-product')[0].files[0])) {
            isCorrect = false
          } else{
            isCorrect = true;
          }

          if(isCorrect) {

            const name = $('#name').val()
            const price = $('#price').val()
            const description = $('#description').val()
            const image = $('#image-product')[0].files[0]

            const category = $('#category option:selected').val();
            const manufacture = $('#manufacture option:selected').val();
            const status = $('#status option:selected').val()

            const create_at = $('#create_at').val()
            const formData = new FormData()
            formData.append('name', name)
            formData.append('price', price)
            formData.append('description', description)
            formData.append('image', image)
            formData.append('category', category)
            formData.append('manufacture', manufacture)
            formData.append('create_at', create_at)
            formData.append('status', status)

            $.ajax({
              url: 'http://localhost:8000/products/add',
              data: formData,
              processData: false,
              contentType: false,
              type: 'POST',
              success: function(data){
                if(data.status==="success"){
                  alert('Add product successfully')
                  window.location.href = '/products'
                }else{
                  alert('Add product failed')
                }
              }
            })
          } else if(isCorrect == false){
            alert('Please check information before adding!')
          }
        }


      </script>
    {{/extend}}