<div class="container border p-5">
  <form action="/auth/change-password" method="post">
    <h2 class="mb-5">Change password</h2>
    <div class="mb-2">
      <input type="password" name="oldPass" placeholder="Enter your old password">
      <span>{{error}}</span>
    </div>
    <div class="mb-2">
      <input type="password" name="newPass" placeholder="Enter your new password">
    </div>
    <div class="mb-2 d-none">
      <input type="text" name="email" value="{{user.email}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>