<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        {{#each detailAccount}}
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="{{this.avatar}}" style="width: 400px; height: 400px" class="rounded img-thumbnail"/>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center mt-4">
                <p>ID: {{id}}</p>
                <p>Email: {{email}}</p>
                <p>FullName: {{full_name}}</p>
            </div>
            <a href="/accounts" class="btn btn-large btn-primary m-4">BACK ACCOUNTS</a>
        {{/each}}
    </div>
</div>