{{> heroHome}}
<section class="categories">
    <div class="container">
        <div class="category-wrapper">
            {{#each categoryList}}
                <div class="category-item" >
                    <img class="category-item-img" src={{this.img}} alt="">
                    <h5 class="category-item-text">
                        {{this.category}}
                    </h5>
                </div>
            {{/each}}
        </div>
    </div>
</section>

<section class="featured">
    <div class="container">
        <div class="featured-heading">
            <h1 class="featured-heading-title">Featured Product</h1>
            <ul class="featured-heading-list-category">
                <li class="featured-heading-category-item active" onClick="filterSelection('All')">All</li>
                <li class="featured-heading-category-item" onClick="filterSelection('Oranges')"> Oranges</li>
                <li class="featured-heading-category-item" onClick="filterSelection('Fresh Meat')">Fresh Meat</li>
                <li class="featured-heading-category-item" onClick="filterSelection('Vegetables')">Vegetables</li>
                <li class="featured-heading-category-item" onClick="filterSelection('Fastfood')">Fastfood</li>
            </ul>
        </div>
        <div class="featured-list-product">
            <div class="featured-product-item Oranges Fresh Meat">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-1.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Vegetables Fastfood">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-2.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Fresh Meat Vegetables">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-3.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Oranges Fastfood">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-4.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Fresh Meat Vegetables">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-5.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Oranges Fastfood">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-6.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Fresh Meat Vegetables">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-7.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
            <div class="featured-product-item Fastfood">
                <img class="featured-product-img" src="https://technext.github.io/ogani/img/featured/feature-8.jpg" alt="">
                <div class="featured-product-info">
                    <p class="featured-product-name">Crab Pool Security</p>
                    <h2 class="featured-product-price">$30.00</h2>
                </div>
                <div class="feature-item-pic-hover">
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-sharp fa-solid fa-arrow-right-arrow-left"></i></a>
                    </div>
                    <div class="feature-item-icon-box">
                        <a href="" class="feature-item-icon-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-item">
                <img class="banner-img" src="https://technext.github.io/ogani/img/banner/banner-1.jpg" alt="">
            </div>
            <div class="banner-item">
                <img class="banner-img" src="https://technext.github.io/ogani/img/banner/banner-2.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<section class="latest-product">
    <div class="container">
        <div class="latest-rated-review-product-container row">
            <div class="latest-rated-review-product-item  col-lg-4 col-md-6 col-sm-12">
                <h2 class="latest-rated-review-product-heading">
                    Latest Products
                </h2>
                <div class="latest-rated-review-product-list-comp">
                    <div class="latest-rated-review-product-list-item">
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-1.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-2.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-3.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="latest-rated-review-product-list-item">
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-1.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-2.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-3.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-rated-review-product-item col-lg-4 col-md-6 col-sm-12">
                <h2 class="latest-rated-review-product-heading">
                    Top Rated Products
                </h2>
                <div class="latest-rated-review-product-list-comp">
                    <div class="latest-rated-review-product-list-item">
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-1.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-3.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-2.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="latest-rated-review-product-list-item">
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-2.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-1.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-3.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-rated-review-product-item col-lg-4 col-md-6 col-sm-12">
                <h2 class="latest-rated-review-product-heading">
                    Review Products
                </h2>
                <div class="latest-rated-review-product-list-comp">
                    <div class="latest-rated-review-product-list-item">
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-1.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-2.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-3.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="latest-rated-review-product-list-item">
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-3.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-2.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                        <div class="latest-rated-review-product-item-box">
                            <div class="latest-rated-review-product-img-box">
                                <img class="latest-rated-review-product-img" src="https://technext.github.io/ogani/img/latest-product/lp-1.jpg" alt="">
                            </div>
                            <div class="latest-rated-review-product-info">
                                <p class="latest-rated-review-product-name">Crab Pool Security</p>
                                <h3 class="latest-rated-review-product-price">$30.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>