
<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div>
        <img src="https://images.unsplash.com/photo-1668934807819-536c2ca08a7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    </div>
</div>