<div>
    <div>
        <img src={{productItem.img}} />
    </div>
    <div>
        <h2>{{productItem.name}}</h2>
        <p>{{productItem.price}}</p>
        <p>Số lượng: <input type="number" value="{{1}}"></input></p>
        <button>Thêm vào giỏ hàng</button>
    </div>
</div>