<div class="signup-page-main">
     <div class="signup-main">  	
    	 <div class="signup-head">
				<h1>Sign In</h1>
			</div>
			<div class="signup-block">
				<form action="/login" method="post">
					<input type="text" name="email" placeholder="Name" required="">
					<input type="password" name="password" class="lock" placeholder="Password">
					<input type="submit" name="Sign In" value="Sign up">														
				</form>
			</div>
    </div>
</div>