<div class="signup-page-main">
  <div class="signin-main">
    <div class="signin-head">
      <h1>Sign In</h1>
    </div>
    <div class="signin-block">
      <form action="/auth/signin" method="post">
        <input type="text" name="email" placeholder="Email" required="" />
        <input
          type="password"
          name="password"
          class="lock"
          placeholder="Password"
        />
        <input type="submit" name="Sign In" value="Sign In" />
      </form>
      <p>
        Bạn chưa có tài khoản?
        <a href="/auth/register">Đăng ký ngay!</a>
      </p>
    </div>
  </div>
</div>
