<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/products" role="button">Continue shopping</a>
  </p>
</div>