<div class="left-content">
         <div class="page-wrapper">
            <div class="content-wrapper">
               <div class="content">
                  <!-- Card Profile -->
                  {{> cardProfile}}
                  <!-- Activity -->
                  <div class="row">
                     <div class="col-xl-9">
                        <div class="card card-default">
                           <div class="card-header">
                              <h2>Activities</h2>
                           </div>
                           <div class="card-body">
                              <div class="media media-sm border-bottom pb-6">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-01.jpg" alt="User Image">
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <div class="d-flex justify-content-between flex-wrap align-items-center mb-5">
                                       <div class="left-side">
                                          <a class="title mb-0 d-block" href="user-profile.html">Selena Wagner</a>
                                          <a class="d-block" href="user-profile.html">Designer</a>
                                       </div>
                                       <div class="right-side">
                                          <time class="small">5 mins ago</time>
                                       </div>
                                    </div>
                                    <p class="mb-5 para-comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                       aliqua. ut enim ad minim veniam quis nos trud exercitation ullamco laboris nisi ut aliquip.
                                    </p>
                                    <div class="row user-gallery">
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-01.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-02.jpg" alt="Gallery Image">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="media media-sm border-bottom">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-02.jpg" alt="User Image">
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <div class="d-flex justify-content-between flex-wrap align-items-center mb-5">
                                       <div class="left-side">
                                          <a class="title mb-0 d-block" href="user-profile.html">Walter Reuter</a>
                                          <a class="d-block" href="user-profile.html">Designer</a>
                                       </div>
                                       <div class="right-side">
                                          <time class="small">2 hrs ago</time>
                                       </div>
                                    </div>
                                    <p class="mb-5 para-comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                       et dolore magna aliqua. ut enim ad minim veniam quis nos trud exercitation ullamco laboris nisi ut aliquip.
                                    </p>
                                 </div>
                              </div>
                              <div class="media media-sm border-bottom pb-6">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-03.jpg" alt="User Image">
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <div class="d-flex justify-content-between flex-wrap align-items-center mb-5">
                                       <div class="left-side">
                                          <a class="title mb-0 d-block" href="user-profile.html">Larissa Gebhard</a>
                                          <a class="d-block" href="user-profile.html">Cyber Punk</a>
                                       </div>
                                       <div class="right-side">
                                          <time class="small">5 hrs ago</time>
                                       </div>
                                    </div>
                                    <p class="mb-5 para-comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                       et dolore magna  aliqua. ut enim ad minim veniam quis nos trud exercitation ullamco laboris nisi ut aliquip.
                                    </p>
                                    <div class="row user-gallery">
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-03.jpg" alt="Gallery Image">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="media media-sm border-bottom pb-6">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-04.jpg" alt="User Image">
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <div class="d-flex justify-content-between flex-wrap align-items-center mb-5">
                                       <div class="left-side">
                                          <a class="title mb-0 d-block" href="user-profile.html">Albrecht Straub</a>
                                          <a class="d-block" href="user-profile.html">Photographer</a>
                                       </div>
                                       <div class="right-side">
                                          <time class="small">7 hrs ago</time>
                                       </div>
                                    </div>
                                    <p class="mb-5 para-comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                       et dolore magna aliqua. ut enim ad minim veniam quis nos trud exercitation ullamco laboris nisi ut aliquip.
                                    </p>
                                    <div class="row user-gallery">
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-04.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-05.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-06.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-07.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-08.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-09.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-10.jpg" alt="Gallery Image">
                                       </div>
                                       <div class="col-md-6 col-lg-4 col-xl-3">
                                          <img class="img-fluid mb-6" src="/locasset/images/gallery/gallery-img-11.jpg" alt="Gallery Image">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3">
                        <div class="card card-default">
                           <div class="card-header">
                              <h2>Contacts</h2>
                           </div>
                           <div class="card-body">
                              <div class="media media-sm">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-01.jpg" alt="User Image">
                                    <span class="active bg-primary"></span>
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <a href="user-profile.html">
                                    <span class="title">Selena Wagner</span>
                                    <span class="discribe">Designer</span>
                                    </a>
                                 </div>
                              </div>
                              <div class="media media-sm">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-02.jpg" alt="User Image">
                                    <span class="active bg-primary"></span>
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <a href="user-profile.html">
                                    <span class="title">Walter Reuter</span>
                                    <span>Developer</span>
                                    </a>
                                 </div>
                              </div>
                              <div class="media media-sm">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-03.jpg" alt="User Image">
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <a href="user-profile.html">
                                    <span class="title">Larissa Gebhardt</span>
                                    <span>Cyber Punk</span>
                                    </a>
                                 </div>
                              </div>
                              <div class="media media-sm">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-04.jpg" alt="User Image">
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <a href="user-profile.html">
                                    <span class="title">Albrecht Straub</span>
                                    <span>Photographer</span>
                                    </a>
                                 </div>
                              </div>
                              <div class="media media-sm">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-05.jpg" alt="User Image">
                                    <span class="active bg-danger"></span>
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <a href="user-profile.html">
                                    <span class="title">Leopold Ebert</span>
                                    <span>Fashion Designer</span>
                                    </a>
                                 </div>
                              </div>
                              <div class="media media-sm">
                                 <div class="media-sm-wrapper">
                                    <a href="user-profile.html">
                                    <img src="/locasset/images/user/user-sm-06.jpg" alt="User Image">
                                    <span class="active bg-primary"></span>
                                    </a>
                                 </div>
                                 <div class="media-body">
                                    <a href="user-profile.html">
                                    <span class="title">Selena Wagner</span>
                                    <span>Photographer</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>

{{> sidebar}}